# Pasta de build do Maven
target/

# Diretórios do Gradle
.gradle/
build/

# Configurações do Eclipse/IntelliJ
*.class
*.log
*.iml
*.ipr
*.iws
/.idea/
/*.vscode/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Dependências baixadas pelo Maven e Gradle
.mvn/
!**/src/main/**/mvnw
!**/src/main/**/mvnw.cmd

# Logs e
